.cards {
  display: flex;
  gap: 2rem;

  &__heading {
    font-family: "Bree Serif", serif;
    background-color: rgba($color-grey, 1);
    width: 100%;
    align-self: center;
    transition: all 0.4s ease-in;
  }

  &__panel {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    border-radius: 1rem;
    border: $color-grey solid 5px;
    cursor: pointer;
    transition: flex 0.4s ease-in;
    display: flex;

    &:link,
    &:visited {
      font-size: 1.2rem;
      padding: 1rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-darker;
      text-decoration: none;
    }

    &:hover,
    &:active {
      border: $color-green solid 5px;
    }

    &:hover .cards__heading {
      background-color: rgba($color-green, 0.5);
      color: white;
    }
  }

  &__panel.active {
    flex: 3.5;
  }

  &__item1 {
    background-image: url(../layout/img-1.jpg);
  }

  &__item2 {
    background-image: url(../layout/img-2.jpg);
  }

  &__item3 {
    background-image: url(../layout/img-3.jpg);
  }

  &__item4 {
    background-image: url(../layout/img-4.jpg);
  }

  &__item5 {
    background-image: url(../layout/img-5.jpg);
  }
}
