.header {
  display: flex;
  justify-content: center;

  &__link img {
    width: 14rem;
    transform: translateX(-2rem);
  }

  &__logo-box {
    text-align: center;
  }

  &__name {
    font-size: 2rem;
    font-family: "Bree Serif", serif;
    color: $color-blue-md;
    transform: translateX(-2rem);
  }

  &__text {
    font-size: 1.3rem;
    color: $color-blue-dark;
    transform: translateX(-2rem);
  }
}
